@import '../../assets/sass/variables.scss';

.Button {
    background-color: $color-yellow;
    color: $color-black;
    padding: 1rem 2.6rem;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    outline: none;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__spinner {
        height: 2rem;
        margin-left: 1rem;
    }

    &__text {
    }
}
