@import '../../assets/sass/variables.scss';

.Home {
    &__hero-nav-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    &__register-btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 14rem;
    }

    @media (max-width: 681px) {
        &__hero-nav-container {
            height: auto;
        }
        &__nav-container {
            margin-bottom: 3rem;
        }
    }

    @media (max-width: 982px) {
        &__register-btn-container {
            margin-bottom: 8rem;
        }
    }
}

.Hero {
    max-width: 90%;
    width: 109rem;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__content-container {
        transform: translateY(-5rem);
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 4.2rem;
        font-weight: 700;
        margin-bottom: 3.6rem;
        color: $color-white-high;

        span {
            display: block;
        }
        &--primary {
            margin-bottom: 1rem;
        }
        &--secondary {
        }
    }

    &__description {
        max-width: 44.3rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-white-medium;
        margin-bottom: 3.6rem;
    }

    &__error {
        color: $color-red;
        font-size: 1.2rem;
        // text-align: center;
        margin-top: 1.5rem;
    }

    @media (max-width: 681px) {
        margin-bottom: 10rem;

        &__title {
            font-size: 2.6rem;
            margin-bottom: 4rem;

            &--primary {
                margin-bottom: 3rem;
            }

            &--secondary {
                &::before {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__description {
            margin-bottom: 4rem;
        }

        &__content-container {
            transform: translateY(0);
            padding: 0 1rem;
        }
    }
}

.Problems {
    max-width: 90%;
    width: 109rem;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 11.4rem;
    // background-color: blue;

    &__title {
        // text-align: center;
        font-size: 2.6rem;
        max-width: 70rem;
        // margin: 0 auto;
        margin-bottom: 1.3rem;
        color: $color-white-high;
    }

    &__title-container {
        margin-bottom: 8rem;
    }

    &__card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        > div {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }
    }

    @media (max-width: 613px) {
        &__card-container {
            justify-content: center;
        }
    }

    @media (max-width: 681px) {
        &__title {
            font-size: 2rem;
            // margin-bottom: 3.6rem;
        }
    }
}

.Solution {
    max-width: 90%;
    width: 109rem;
    margin: 0 auto;
    margin-bottom: 11.4rem;

    &__title {
        // text-align: center;
        font-size: 2.6rem;
        max-width: 70rem;
        // margin: 0 auto;
        color: $color-white-high;
        margin-bottom: 1.3rem;
    }

    &__title-container {
        margin-bottom: 8rem;
    }

    &__content-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // background-color: blue;
        flex-grow: 1;
        &:first-child {
            align-items: flex-start;
        }
        &:last-child {
            align-items: flex-end;
        }
    }

    &__phone-container {
        // margin: 0 4rem;
    }

    @media (max-width: 982px) {
        margin-bottom: 4rem;

        &__title {
            // margin-bottom: 7rem;
        }

        &__content-container {
            flex-direction: column;

            &:first-child {
                align-items: center;
            }
            &:last-child {
                align-items: center;
            }

            > div:nth-child(1) {
                order: 2;
            }
            div:nth-child(2) {
                order: 1;
            }
            div:nth-child(3) {
                order: 3;
            }
        }
        &__phone-container {
            margin-bottom: 5.2rem;
        }

        &__card-inner-container {
            margin-bottom: 5.7rem;
        }
    }
    @media (max-width: 681px) {
        &__title {
            font-size: 2rem;
        }
    }
}
